:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #4756df;
  --secondary-color: #ff7235;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-family)
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #4756df;
}

nav {
  display: flex;
  position: relative;
  z-index: 1;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color);
  padding: 1.5rem 3.5rem;;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  color: var(--primary-color)
}

a:hover {
  color: var(--secondary-color)
}

nav h1 {
  color: var(--primary-color)
}
nav a {
  transition: var(--transition);
}
.nav-ul {
  display: flex;
  gap: 1.8rem;
}
nav ul li {
  font-family: var(--bold-font);
}

.hamburger .line {
  width: 1.9rem;
  height: 0.4rem;
  /* background-color: #ccc; */
  margin: 0.2rem 0;
  color: var(--primary-color);
  }
.burger-menu {
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  /* display: none; */
  font-size: 2rem;
}

.project-list, 
.repo-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.project-list a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

li {
  margin-bottom: 0.5em;
  list-style: none;
}

.project-list a:hover {
  color: #ff7f50;
}

.contact {
  display: block;
  justify-content: center;;
  align-content: center;
  flex-direction: column;
}
.img-project {
  width: 60%;
  margin: 0 20%;
  height: auto;
  align-self: center;
  
}

footer {
  background-color: #333;
  color: #fff;
  padding: 0.8rem;
  text-align: center;
  margin-top: auto;
}
@media screen and  (max-width: 768px) {
  nav {
    padding: 1.5rem 1rem;
  }
  .nav-ul {
    position: fixed;
    flex-direction: column;
    width: 100%;
    top: 80px;
    left: 10%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }
  nav ul li {
    margin: 0.5rem;
  }

  .burger-menu {
    display: block;
    
  }

  .nav-ul.show {
    transform: translateX(0);
  }
}

