* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%
}

header {
  background-color: #333;
  width: 100%;
}

.nav-item {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  min-height: 70px;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  gap: 60px;
}
.nav-branding {
  font-size: 2rem;
}

.nav-link {
  transition: 0.7s ease-in;
}

.nav-link:hover {
  color:#4756df;
}

.burger-wrapper {
  display: none;
}

.hamburger {
  display: none;
  cursor: pointer;
  width: 30px;
  margin: 0;
  padding: 0;
}

.line {
  display: block;
  width: 1.9rem;
  height: 0.3rem;
  margin: 0 0 4px 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.project-list, 
.repo-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.project-list a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

li {
  margin-bottom: 0.5em;
  list-style: none;
}

.project-list a:hover {
  color: #ff7f50;
}

.contact {
  display: block;
  justify-content: center;;
  align-content: center;
  flex-direction: column;
}
.img-project {
  width: 60%;
  margin: 0 20%;
  height: auto;
  align-self: center;
  
}

footer {
  background-color: #333;
  color: #fff;
  padding: 0.8rem;
  text-align: center;
  margin-top: auto;
}

@media(max-width:1024px) {

  .burger-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  .hamburger {
    display: block;
  }
  
  .hamburger.active .line:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    align-self: right;
    flex-direction: column;
    width: 100%;
    top: 70px;
    left: -100%;
    text-align: center;
    gap: 0;
    background-color: #333;
    transition: 0.5s;
  }
  
  .nav-item {
    margin: 1rem 0;
  }

  .nav-menu.active {
    left: 0;
  }
}
 
 
 