@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%
}

header {
  background-color: #333;
  width: 100%;
}

.nav-item {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  min-height: 70px;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  gap: 60px;
}
.nav-branding {
  font-size: 2rem;
}

.nav-link {
  transition: 0.3s ease-in;
  font-weight: 550;
  font-size: 1.2rem;
}

.nav-link:hover {
  color:#4756df;
}

.burger-wrapper {
  display: none;
}

.hamburger {
  display: none;
  cursor: pointer;
  width: 30px;
  margin: 0;
  padding: 0;
}

.line {
  display: block;
  width: 1.9rem;
  height: 0.3rem;
  margin: 0 0 4px 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.bio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3rem;
  margin: 3rem 0;
}

.bio-pic-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
}

.bio-pic {
  max-width: 22rem;
  max-height: 25rem;
  border-radius: 25rem;
  align-self: center;
}

.bio-content {
  width: 55%;
  height: auto;
  border-radius: 1rem;
  box-shadow: 0px 2px 15px 2px #5c5c61;
  padding: 1.5rem;
}

h2 {
  padding-left: 2rem;
  font-weight: 900;
}

p {
  font-size: 1.2rem;
  padding: 2rem;
  font-family: auto;
  line-height: 2rem;
}

.project-section {
  gap: 1.4rem;
  padding: 32px 0;
  margin-top: 2rem;
  width: 100%;
}

.project-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.project-wrapper {
  width: 28%;
  border-radius: 0.3rem;
  box-shadow: 0px 2px 15px 2px #5c5c61;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  height: 28rem;
  text-overflow: none;
}

.project-description {
  text-align: center;
  margin-bottom: 1rem;
  line-height: 2rem;
  padding: 0.8rem;
  font-size: 1rem;
}

.project-link {
  color: black;
  font-size: 1rem;
}

.project-link:hover {
  color:#4756df;
}


.project-img {
  width: 20rem;
  height: 13rem; 
}

.repos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h2 {
  font-size: 2rem;
  align-self: center;
  font-weight: bold;
  text-align: center;
  margin: 1.5rem 0;
}

.repo-ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.repo-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18rem;
}

.repo-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  width: 18rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  color: #fff;
  background-color: #333;
  line-height: 2rem;
  font-size: 1.5rem;
  padding: 0.5rem 1.5rem;
  margin: 1rem;
  text-align: center;
  border-radius: 0.4rem;
  height: 4rem;
  align-items: center;
  transition: 0.3s ease-in;
}

.repo-list:hover {
  
  
  
}

.repo-link:hover {
  border: 1px solid #333;
  background-color:#fff;
  color:#333;
  cursor: pointer;
}

.contact {
  display: flex;
  justify-content: center;;
  align-content: center;
  flex-direction: column;
  width: 60%;
  margin: 2rem auto;
}

form {
  padding: 1rem;
  box-shadow: 0px 0.02em 0.5rem 0.02em  #5c5c61;
}

label {
  padding-bottom: 1rem;
  margin: 1rem 0;
  font-size: 1.5rem;
}

input, textarea {
  border-color: #333;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 0.9em;
  font-size: 1.5rem;
}
.submit-input {
  padding: 1rem;
  color:#fff;
  background-color: #333;
  font-weight: bold; 
}

.submit-input:hover {
  background-color:#fff;
  border: 2px solid #333;
  color:  #333;
  cursor: pointer;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 0.8rem;
  text-align: center;
  margin-top: auto;
}

.social-icons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 50%;
  margin: 2rem auto;
  padding-top: 2rem;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.4rem;
  font-size: 2.4rem;
  padding: 0;
  
}

.fab:hover {
  color: #4756df;
}

.copy-right {
  font-size: 1.5rem;
}

@media screen and (max-width: 1200px) {
  .project-wrapper {
    width: 45%;
  }

  .project-img {
    width: 21rem;
    height: 12rem;
  }
}

@media screen and (max-width: 768px) {

  .burger-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  .hamburger {
    display: block;
  }
  
  .hamburger.active .line:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  
  .nav-menu {
    position: fixed;
    align-self: right;
    flex-direction: column;
    width: 100%;
    top: 70px;
    left: -100%;
    text-align: center;
    gap: 0;
    background-color: #333;
    transition: 0.5s;
  }
  
  .nav-item {
    margin: 1rem 0;
  }

  .nav-menu.active {
    left: 0;
  }

  .bio {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }
  
  .bio-content {
    margin-top: 2rem;
    width: 100%;
  }
  
  .project-wrapper {
    width: 90%;
  }
}

@media screen and (max-width: 460px) { 
  .project-img {
    width: 18rem;
  }

  .repo-ul {
    display: block;
  }

  .contact {
    width: 90%;
  }
}
 
@media screen and (max-width: 460px) { 
  .project-img {
    width: 13rem;
    height: 9rem;
  } 
  
  .bio {
    padding: 1rem;
  }
  p {
    padding: 0;
  }
  .bio-header {
    padding: 0;
    text-align: start;
  }
}
 